/* fonts: 
.sacramento-regular {
    font-family: "Sacramento", serif;
    font-weight: 400;
    font-style: normal;

    .gilda-display-regular {
  font-family: "Gilda Display", serif;
  font-weight: 400;
  font-style: normal;
}
  } */

html, body{
    height: 100vh;
    max-width: 100%;
    margin: 20px;
    background-color: #fdf1ea;
    font-family: "Poppins", serif;
    font-weight: 100;
    font-size: 15px;

}
header{
    width: 90%;
    height: 7vh;
    margin-top: 30px;
    margin-left: 20px;
    margin-right:20px;
    display: flex;
    justify-content:space-between;
    gap: 50px;
}
a {
    text-decoration: none;
    margin-right: 30px;
    color: black;
    font-family: "Poppins", serif;
    font-size: 20px;
    font-weight: 400;
}

.logo {
    width: 250px;
    height: auto;
}
.first-container{
    height: 100vh;
    width: 100%;
    margin-left: 20px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}
.textAndLogo{
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;    
}

.img1 {
    height: 80vh;
    width: auto;
    margin-top: 35px;
    margin-bottom: 20px;
    border: none;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
}
.headlineFirstPage{
    font-family: "Gilda Display", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    color: #534f4f;
}
.h3Firstpage{
    font-family: "Poppins", serif;
    font-weight: 200;
    font-size: 40px;
    color: #353535;
}

.btn {
    background-color: #fdf1ea;
    border: 1px solid #0fb8ce;
    color: #353535;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Poppins", serif;
    font-weight: 200;
    font-size: 20px;
    margin-top: 50px;
}
.second-container{
    height: 100vh;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}
.img2 {
    height: 80vh;
    width: auto;
    margin-top: 35px;
    margin-bottom: 20px;
    border: none;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
}
.textSecondPage{
    font-family: "Poppins", serif;
    font-weight: 200;
    font-size: 20px;
    width: 80%;
    color: #353535;
}
.text-container{
    width: 50%;
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    padding: 10px; 

}
.h3Secondpage{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: bold;
    font-size: 40px;
    color: #353535;
    margin-bottom: 15px;
    margin-top: 5px;
}
.btn-secondContainer {
    background-color: #fdf1ea;
    border: 1px solid #0fb8ce;
    color: #353535;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Poppins", serif;
    font-weight: 200;
    font-size: 20px;
    margin-top: 25px;
}
.third-container {
    height: 100vh;
    max-width: 100%;
    margin-left: 20px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content:center;
}

.h3Priser {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: bold;
    font-size: 40px;
    color: #353535;
    margin-bottom: 15px;
    margin-top: 5px;
    display: flex;
    align-self: center;
}
h4{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: bold;
    font-size: 30px;
    color: #353535;
   
}
.textThirdPage {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-size: 20px;
    width: 80%;
    color: #353535;
    margin-bottom: 15px;
    margin-top: 15px;
    display: flex;
    align-self: center;
}


.btn {
    background-color: #fdf1ea;
    border: 1px solid #0fb8ce;
    color: #353535;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Poppins", serif;
    font-weight: 200;
    font-size: 20px;
    margin-top: 50px;
}

