
.h3Priser {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: bold;
    font-size: 40px;
    color: #353535;
    margin-bottom: 15px;
    margin-top: 5px;
    text-align: center;
}
.third-container {
    min-height: 100vh;
    max-width: 100%;
    margin-left: 6vh;
    margin-right: 5vh;
    margin-top: 4vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto auto auto;    
    row-gap: 9vh; 
    column-gap: 10vh; 
}

h4{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: bold;
    font-size: 30px;
    color: #353535;
   
}
.textFirstPricetag, .textSecondPricetag, .textThirdPricetag, .kontaktformulär-ingår {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-size: 20px;
    width: 100%;
    color: #353535;
    margin-bottom: 15px;
    margin-top: 15px;    
   
}
.textFirstPricetag {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: flex-start;
}
.firstMockup, .secondMockup, .thirdMockup {
    width: 100%; 
    height: auto;
}
.buy-small, .buy-medium, .buy-vip{
    margin: 0 auto;
    transition: all 0.2s ease;

}

.firstMockup{
    grid-column: 1;
    grid-row: 2;
    align-items: center;
}
.buy-small{
    grid-column: 1;
    grid-row: 3;
    justify-self: center;
}

.textSecondPricetag {
    grid-column: 2;
    grid-row: 1;
}
.secondMockup {
    grid-column: 2;
    grid-row: 2;
}

.buy-medium{
    grid-column: 2;
    grid-row: 3;
    justify-self: center;
}
.bold {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family: "Poppins", serif;
    font-size: 20px;
}

.textThirdPricetag {
    grid-column: 3;
    grid-row: 1;
}

.thirdMockup {
    grid-column: 3;
    grid-row: 2;
}
.buy-vip {
    grid-column: 3;
    grid-row: 3;
    justify-self: center;
}

.firstMockup, .secondMockup, .thirdMockup{
    align-items: center;
    justify-content: center;
}

/* .btn {
    background-color: #fdf1ea;
    border: 1px solid #0fb8ce;
    color: #353535;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Poppins", serif;
    font-weight: 200;
    font-size: 20px;
    align-items: flex-end;
} */

.firstPricetag{
    height: auto;
    
}
.secondPricetag{
    height: auto;
    
}
.thirdPricetag{
    height: auto;
    
}
.buy-small, .buy-vip {
    background-color: #fdf1ea;
    border: 1px solid #0fb8ce;
    color: #353535;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 20px; 
      
    
}

.buy-medium {
    background-color: #fdf1ea;
    border: 1px solid #0fb8ce;
    color: #353535;
    width: 175px;
    height: 50px;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 20px;
}

.empty {
    height: 10vh;
    max-width: 100%;
}
footer{
    height: auto;
    max-width: 100%;
    background-color: #fdf1ea;
    text-align: center;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
}
.contact {

}
.buy-small, .buy-vip, .buy-medium {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.buy-small:hover, .buy-vip:hover, .buy-medium:hover {
    background-color: #0fb8ce;
    color: #fdf1ea;
    ;
}
.buy-small:active, .buy-vip:active, .buy-medium:active {
    background-color: #098899;
      transform: translateY(3px); /* Knappen ser ut att tryckas ner */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Mindre skugga */
}